img { border: 1px solid #000; 
	width: 400px;
	height: 350px;
}

.n {
	padding: 160px;
	position: relative;
	left: 50px;
}

.c {
	padding: 10px;
	position: relative;
	left: 420px;
}

.s{
	padding: 10px;
	position: relative;
	left: 750px;
}

.pa1{
	padding: 10px;
	position: relative;
	left: 500px;
	top: -290px;
}

.ha{
	padding: 10px;
	position: relative;
	left: 500px;
	top: -253px;
}

.i { border: 1px solid #000; 
	width: 400px;
	height: 350px;
	top: -4000px;
}

.x {
	padding: 175px;
	position: relative;
	left: 70px;
}

.z {
	position: relative;
	left: 65px;
}